.residents-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
}
form {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 500px;
}
input{
    margin-left: 2rem;
    font-size: 1.5rem;
    width: 500px;
    height: 40px;
    border-radius: 1rem;
    padding: 1rem;
}
button{
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #062226;
    border-radius: 1rem;
    width: 100px;
    height: 37px;
}
.bg img{
    width: 100%;
    height: 600px;
    position: relative;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-container{
    background-color: #062226;
    border-radius: 2rem;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 1rem;
    margin-left: 10rem;
}
.location-name{
    font-size: 2rem;
    color: #ffff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.location-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}
.err-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.err{
    margin-top: 50px;
    width: 75%;
    height: 100px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #062226;
    border-radius: 2rem;
    color: #ffff;
    margin-bottom: 50px;
}